* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6edf2;
  font-family: 'Mulish', sans-serif;

}

a {
  color: #81bAb4;
  font-weight: bolder;
}

small {
  width: 90%;
  height: 45%;
  text-align: left;
  margin-left: 4%;
  font-weight: bold;
  margin-top: 1%;
}

.smallSesion {
  width: 90%;
  height: 7%;
  text-align: left;
  margin-left: 4%;
  font-weight: bold;
  margin-top: 1%;
}

/*MOBILE*/
/*LOGO KETOLIFE*/
.logoketolife {
  display: flex;
  flex: wrap;
  margin: auto;
  height: 13%;
  width: 80%;
  margin-top: 10%;
}

.imagenBienvenida {
  display: flex;
  margin: auto;
  width: 80%;
  height: 40%;
}

.h1Bienvenida {
  margin: auto;
  width: 50%;
  height: 5%;

}

.h1Bienvenida h1 {
  text-align: center;
}

.parrafoBienvenida {
  margin: auto;
  width: 50%;
  height: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.parrafoBienvenida p {
  text-align: center;
}

.botonesIniciales {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #81Bab4;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
}

.botonesIniciales:hover {
  background-color: #41968D;
  transition: all 50ms ease;
  width: 75%;
  height: 6%;
}

.divBotonVista1 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  padding: 0;
  margin-top: 3%;
}

.parrafocondiciones1 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 2%;
  padding: 0;
  margin-top: 4%;
  text-align: center;
  font-size: 13px;
}

.parrafocondiciones2 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 2%;
  padding: 0;
  text-align: center;
  font-size: 13px;
  color: #81Bab4;
  text-decoration: #81bAb4;
}

.form {
  display: flex;
  flex: wrap;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 35%;
  padding: 0;
  text-align: center;
  font-size: 13px;
  margin-top: 15%;
}

.inputFormulario {
  border-radius: 50px;
  border: #81Bab4 solid;
  border-width: 4px;
  height: 100%;
  background-color: #ffff;
}

.letraO {
  margin-top: 10%;
  text-align: center;
  width: 100%;
  height: 2%;

}

.divBotonVista2 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  padding: 0;
  margin-top: 15%;
}

.inputFormSesion {
  border-radius: 50px;
  border: #81Bab4 solid;
  border-width: 4px;
  height: 14%;
  background-color: #ffff;
}

.congratulation {
  margin: auto;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-top: 5%;
  color: #32324d;
}

.welcome {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  height: 15%;
  width: 80%;
}

.imgLike {
  margin: auto;
  margin-top: 10%;
  width: 75%;
  height: 20%;
}

.divBotonVista4 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  margin-top: 15%;
}


.divBotonGoogle {
  display: flex;
  margin: auto;
  width: 60%;
  height: 6%;
  margin-top: 10%;
  border: 0;
}

.logoketolifeblanco {
  background-color: #32324D;
  width: 100%;
  height: 10%;
  position: relative;

}

.divimagenLogoKetoLifeBlanco {
  background-color: #32324D;
  width: 30%;
  height: 50%;
  position: absolute;
  top: 29%;
  left: 34%;
}

.imagenLogoKetoLifeBlanco {
  background-color: #32324D;

}

.contenedorMenu {
  background-color: #32324D;
  position: fixed;
  bottom: 0;
  height: 10%;

}

.buttonPalta {
  display: flex;
  margin: auto;
  width: 25%;
  height: 120%;
  transform: translateY(-50%);
  border: 2px;
  border-radius: 50%;
  background-color: #32324D;
}


.imagenPalta {
  border-radius: 50%;
  border: #32324D solid;
  margin: auto;
  width: 90%;
  height: 90%;

}

.modal {
  width: 80%;
  height: 60%;
  border: solid #81Bab4 2px;
  border-radius: 10px;
  margin: auto;
  margin-top: 15%;
}

.divX {
  width: 5%;
  height: 3%;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  border: 0;
}

.title {
  margin: auto;
  margin-top: 10%;
  width: 80%;
  height: 10%;
}

.inputText {
  margin-top: 2%;
  width: 100%;
  height: 40%;
  justify-content: center;
  border: solid #81Bab4 2px;
  border-radius: 10px;
  background-color: #edf5f5;
}

.description {
  margin: auto;
  margin-top: 20%;
  width: 80%;
  height: 30%;
}


.inputDescription {
  margin-top: 2%;
  width: 100%;
  height: 60%;
  justify-content: center;
  border: solid #81Bab4 2px;
  border-radius: 10px;
  background-color: #edf5f5;
}

.postBtn {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  background-color: #81Bab4;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
}

/*------------- Conenedor del post-----------------*/
.containerPost {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  background-color: #81Bab4;
  width: 83%;
  height: 35%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.option {
  display: flex;
  height: 10%;
  width: 30%;
  border-radius: 50%;
  border: #81Bab4;
  background-color: #81Bab4;
  margin-left: 67%;
  margin-top: 2%;
  flex-direction: column;
}

/*---------Botones del contenedor post------*/
.contenedorBotones {
  background-color: #32324d;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 8%;
}

.buttonDelete {
  background-color: #0e3833;
  
  

}

.buttonEdit {
  background-color: #81Bab4;
}

.imgDots {
  height: 100%;
  width: 30%;
  background-color: #81Bab4;
  border-radius: 50%;
  border: #81Bab4;
  margin-left: 75%;
}

.titlePublicacion {
  display: flex;
  background-color: #81Bab4;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 2%;
  width: 95%;
  height: 12%;

}

.descriptionPublicacion {
  display: flex;
  background-color: #81Bab4;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 2%;
  width: 95%;
  height: 50%;
  overflow: auto;
}

.containerLike {
  display: flex;
  flex-direction: row;
  background-color: #81Bab4;
  height: 13%;
  width: 20%;
  margin-top: 2%;
  margin-left: 76%;
}

.buttonLike {
  border: none;
  background-color: #81Bab4;
  height: 100%;
  width: 60%;
}

.imgChef {
  background-color: #81Bab4;
  height: 100%;
  width: 100%;
}

.contador {
  border: none;
  background-color: #81Bab4;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: end;
}