/*---------------LOGO KETOLIFE---------------*/
.logoketolife {
  display: flex;
  flex: wrap;
  margin: auto;
  height: 13%;
  width: 80%;
  margin-top: 10%;
}


/*---------------LANDING.JS---------------*/
.imagenBienvenida {
  display: flex;
  margin: auto;
  width: 80%;
  height: 40%;
}

.h1Bienvenida {
  margin: auto;
  width: 50%;
  height: 5%;
}

.h1Bienvenida h1 {
  text-align: center;
}

.parrafoBienvenida {
  margin: auto;
  width: 50%;
  height: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.parrafoBienvenida p {
  text-align: center;
}

.botonesIniciales {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #81Bab4;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
}

.botonesIniciales:hover {
  background-color: #41968D;
  transition: all 50ms ease;
  width: 75%;
  height: 6%;
}

.divBotonVista1 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  padding: 0;
  margin-top: 3%;
}

.parrafocondiciones1 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 2%;
  padding: 0;
  margin-top: 4%;
  text-align: center;
  font-size: 13px;
}

.parrafocondiciones2 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 2%;
  padding: 0;
  text-align: center;
  font-size: 13px;
  color: #81Bab4;
  text-decoration: #81bAb4;
}


/*------------------singup y login-------------------*/
.form {
  display: flex;
  flex: wrap;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 35%;
  padding: 0;
  text-align: center;
  font-size: 13px;
  margin-top: 15%;
}

.letraO {
  margin-top: 10%;
  text-align: center;
  width: 100%;
  height: 2%;
}

.divBotonVista2 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  padding: 0;
  margin-top: 15%;
}

.divBotonGoogle {
  display: flex;
  margin: auto;
  width: 60%;
  height: 6%;
  margin-top: 10%;
  border: 0;
}


/*-------------Solo singup-------------*/
.inputFormulario {
  border-radius: 50px;
  border: #81Bab4 solid;
  border-width: 4px;
  height: 100%;
  background-color: #ffff;
}


/*---------------Solo login-----------*/
.inputFormSesion {
  border-radius: 50px;
  border: #81Bab4 solid;
  border-width: 4px;
  height: 14%;
  background-color: #ffff;
}

.smallSesion {
  width: 90%;
  height: 7%;
  text-align: left;
  margin-left: 4%;
  font-weight: bold;
  margin-top: 1%;
}


/*---------Welcome--------------*/
.welcome {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  height: 15%;
  width: 80%;
}

.congratulation {
  margin: auto;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-top: 5%;
  color: #32324d;
}

.imgLike {
  margin: auto;
  margin-top: 10%;
  width: 75%;
  height: 20%;
}

.divBotonVista4 {
  display: flex;
  margin: auto;
  width: 80%;
  height: 6%;
  margin-top: 15%;
}